body{
    margin: 0px;
}
.navbar {
    display: flex;
    position: sticky; 
    top: 0px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}
.textNav{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}
    
.background {
    background: rgba(0, 0, 0, 0.9);
    background-size: cover;
}
.color {
    color: rgb(247,147,26);
}
.mgLeft30px{
    margin-left: 30px;
}


.mgBotom30{
    margin-bottom: 30px;
}
.nomRessource{
    justify-content: left;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 25px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;

}
.imageRessource{
    justify-content: center;
    text-align: center;
    height: 100px;
}
.descriptionRessource{
    justify-content: left;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 25px;

}
.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: rgba(0,0,0,0.9);
   color: rgb(247,147,26);
   text-align: center;
}
